[submodule "Graphics"]
	path = Graphics
	url = https://github.com/Enterlucent/open-space-game-test-art.git
[submodule "Assets/Graphics"]
	path = Assets/Graphics
	url = https://github.com/Enterlucent/open-space-game-test-art.git
